@import "./z-reset.css";


.header__title-line {
    text-align: center;
    font-weight: normal;
    background-color: antiquewhite;
    padding: 10px;
    font-size: 50px;
  }


.back-button {
    font-size: 30px;
    background-color: #fff(255, 255, 255);
    width: fit-content;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    font-weight: normal;
    transition: 200ms;
    margin: 20px;
  }
.back-button:hover {
  color: darkred;
  background-color: antiquewhite;
}