/* #region RESET */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* #endregion */ 